In [4]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request
import matplotlib.pyplot as plt
import seaborn as sns

## Extracting features of 2020 movies from Wikipedia

In [43]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [44]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [45]:
tables = soup.find_all('table',class_='wikitable sortable')

In [46]:
len(tables)

4

In [47]:
type(tables[0])

bs4.element.Tag

In [48]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [49]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [50]:
df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]

In [51]:
df_2020 = df[['Title','Cast and crew']]
pd.set_option('display.max_columns', None)
df_2020.head()

               Title                                      Cast and crew
0         The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1         Underwater  William Eubank (director); Brian Duffield, Ada...
2        Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3      Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4  Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...

In [52]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '58829adce58ecc066162c972cfe72689'

In [53]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [54]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

C:\Users\Gaurishankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
df_2020.head()

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Drama Thriller Crime

In [56]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [57]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\Gaurishankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
df_2020.head()

,Title,Cast and crew,genres,director_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Drama Thriller Crime,Anthony Jerjen

In [59]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [60]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\Gaurishankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df_2020.head()

,Title,Cast and crew,genres,director_name,actor_1_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Drama Thriller Crime,Anthony Jerjen,Josh Hartnett

In [62]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [63]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [64]:
df_2020.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Drama Thriller Crime,Anthony Jerjen,Josh Hartnett,Margarita Levieva

In [65]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [66]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [67]:
df_2020.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Drama Thriller Crime,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs

In [68]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [69]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [70]:
new_df20.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,The Grudge
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,Underwater
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,Like a Boss
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,Three Christs
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Drama Thriller Crime,Inherit the Viper

In [71]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [74]:
new_df20.comb.head()

0    Andrea Riseborough Demián Bichir John Cho Nico...
1    Kristen Stewart Vincent Cassel Jessica Henwick...
2    Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3    Richard Gere Peter Dinklage Walton Goggins Jon...
4    Josh Hartnett Margarita Levieva Chandler Riggs...
Name: comb, dtype: object

In [73]:
new_df20.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,The Grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,Underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,Like a Boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,Three Christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Drama Thriller Crime,Inherit the Viper,Josh Hartnett Margarita Levieva Chandler Riggs...

In [76]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      3
actor_3_name     26
genres            0
movie_title       0
comb             26
dtype: int64

In [77]:
new_df20 = new_df20.dropna(how='any')

In [78]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [79]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [80]:
new_df20.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Drama Thriller Crime,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...

In [82]:
old_df = pd.read_csv('../datasets/final_data.csv')

In [83]:
old_df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [35]:
final_df = old_df.append(new_df20,ignore_index=True)

In [36]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
5,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action Adventure Sci-Fi,john carter,Daryl Sabara Samantha Morton Polly Walker Andr...
6,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musi...,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan G...
7,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action Adventure Sci-Fi,avengers: age of ultron,Chris Hemsworth Robert Downey Jr. Scarlett Joh...
8,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure Family Fantasy Mystery,harry potter and the half-blood prince,Alan Rickman Daniel Radcliffe Rupert Grint Dav...
9,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin,Action Adventure Sci-Fi,batman v superman: dawn of justice,Henry Cavill Lauren Cohan Alan D. Purwin Zack ...
10,Bryan Singer,Kevin Spacey,Marlon Brando,Frank Langella,Action Adventure Sci-Fi,superman returns,Kevin Spacey Marlon Brando Frank Langella Brya...
11,Marc Forster,Giancarlo Giannini,Mathieu Amalric,Rory Kinnear,Action Adventure,quantum of solace,Giancarlo Giannini Mathieu Amalric Rory Kinnea...
12,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: dead man's chest,Johnny Depp Orlando Bloom Jack Davenport Gore ...
13,Gore Verbinski,Johnny Depp,Ruth Wilson,Tom Wilkinson,Action Adventure Western,the lone ranger,Johnny Depp Ruth Wilson Tom Wilkinson Gore Ver...
14,Zack Snyder,Henry Cavill,Christopher Meloni,Harry Lennix,Action Adventure Fantasy Sci-Fi,man of steel,Henry Cavill Christopher Meloni Harry Lennix Z...
15,Andrew Adamson,Peter Dinklage,Pierfrancesco Favino,Damián Alcázar,Action Adventure Family Fantasy,the chronicles of narnia: prince caspian,Peter Dinklage Pierfrancesco Favino Damián Alc...
16,Rob Marshall,Johnny Depp,Sam Claflin,Stephen Graham,Action Adventure Fantasy,pirates of the caribbean: on stranger tides,Johnny Depp Sam Claflin Stephen Graham Rob Mar...
17,Barry Sonnenfeld,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,Action Adventure Comedy Family Fantasy Sci-Fi,men in black 3,Will Smith Michael Stuhlbarg Nicole Scherzinge...
18,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the battle of the five armies,Aidan Turner Adam Brown James Nesbitt Peter Ja...
19,Marc Webb,Emma Stone,Andrew Garfield,Chris Zylka,Action Adventure Fantasy,the amazing spider-man,Emma Stone Andrew Garfield Chris Zylka Marc We...
20,Ridley Scott,Mark Addy,William Hurt,Scott Grimes,Action Adventure Drama History,robin hood,Mark Addy William Hurt Scott Grimes Ridley Sco...
21,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the desolation of smaug,Aidan Turner Adam Brown James Nesbitt Peter Ja...
22,Chris Weitz,Christopher Lee,Eva Green,Kristin Scott Thomas,Adventure Family Fantasy,the golden compass,Christopher Lee Eva Green Kristin Scott Thomas...
23,James Cameron,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,Drama Romance,titanic,Leonardo DiCaprio Kate Winslet Gloria Stuart J...
24,Anthony Russo,Robert Downey Jr.,Scarlett Johansson,Chris Evans,Action Adventure Sci-Fi,captain america: civil war,Robert Downey Jr. Scarlett Johansson Chris Eva...
25,Peter Berg,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,Action Adventure Sci-Fi Thriller,battleship,Liam Neeson Alexander Skarsgård Tadanobu Asano...
26,Colin Trevorrow,Bryce Dallas Howard,Judy Greer,Omar Sy,Action Adventure Sci-Fi Thriller,jurassic world,Bryce Dallas Howard Judy Greer Omar Sy Colin T...
27,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Fantasy Romance,spider-man 2,J.K. Simmons James Franco Kirsten Dunst Sam Ra...
28,Shane Black,Robert Downey Jr.,Jon Favreau,Don Cheadle,Action Adventure Sci-Fi,iron man 3,Robert Downey Jr. Jon Favreau Don Cheadle Shan...
29,Brett Ratner,Hugh Jackman,Kelsey Grammer,Daniel Cudmore,Action Adventure Fantasy Sci-Fi Thriller,x-men: the last stand,Hugh Jackman Kelsey Grammer Daniel Cudmore Bre...
...,...,...,...,...,...,...,...
6039,Ben Falcone,Melissa McCarthy,Bobby Cannavale,Brian Tyree Henry,Comedy Science Fiction Romance,superintelligence,Melissa McCarthy Bobby Cannavale Brian Tyree H...
6040,Mitja Okorn,Jaden Smith,Cara Delevingne,Cuba Gooding Jr.,Drama Romance,life in a year,Jaden Smith Cara Delevingne Cuba Gooding Jr. M...
6041,Ashley Avis,Mackenzie Foy,Kate Winslet,Claire Forlani,Drama,black beauty,Mackenzie Foy Kate Winslet Claire Forlani Ashl...
6042,Ryan Murphy,Meryl Streep,James Corden,Jo Ellen Pellman,Comedy,the prom,Meryl Streep James Corden Jo Ellen Pellman Rya...
6043,Marc Meyers,Jessica Rothe,Harry Shum Jr.,Kyle Allen,Romance Drama,all my life,Jessica Rothe Harry Shum Jr. Kyle Allen Marc M...
6044,Sharon Maguire,Isla Fisher,Jillian Bell,Santiago Cabrera,Family Fantasy Comedy,godmothered,Isla Fisher Jillian Bell Santiago Cabrera Shar...
6045,April Mullen,Aaron Eckhart,Katheryn Winnick,Heather Graham,Thriller Crime Mystery,wander,Aaron Eckhart Katheryn Winnick Heather Graham ...
6046,Lawrence Michael Levine,Aubrey Plaza,Christopher Abbott,Sarah Gadon,Drama Comedy Thriller,black bear,Aubrey Plaza Christopher Abbott Sarah Gadon La...
6047,Steven Soderbergh,Meryl Streep,Candice Bergen,Gemma Chan,Comedy Drama,let them all talk,Meryl Streep Candice Bergen Gemma Chan Steven ...
6048,George Clooney,George Clooney,Felicity Jones,David Oyelowo,Science Fiction Drama,the midnight sky,George Clooney Felicity Jones David Oyelowo Ge...
6049,Adam Mason,KJ Apa,Sofia Carson,Craig Robinson,Thriller Romance Drama Mystery,songbird,KJ Apa Sofia Carson Craig Robinson Adam Mason ...
6050,John Patrick Shanley,Emily Blunt,Jamie Dornan,Jon Hamm,Romance Drama,wild mountain thyme,Emily Blunt Jamie Dornan Jon Hamm John Patrick...
6051,Reginald Hudlin,Jay Reeves,Thaddeus J. Mixson,Corinne Foxx,Family Drama History,safety,Jay Reeves Thaddeus J. Mixson Corinne Foxx Reg...
6052,Tara Miele,Sienna Miller,Diego Luna,Beth Grant,Romance Drama,wander darkly,Sienna Miller Diego Luna Beth Grant Tara Miele...
6053,Julia Hart,Rachel Brosnahan,Arinzé Kene,Marsha Stephanie Blake,Drama Crime,i'm your woman,Rachel Brosnahan Arinzé Kene Marsha Stephanie ...
6054,Jamie Babbit,Drew Barrymore,Michael Zegen,T.J. Miller,Comedy,the stand in,Drew Barrymore Michael Zegen T.J. Miller Jamie...
6055,Adam Egypt Mortimer,Joe Manganiello,Skylan Brooks,Zolee Griggs,Action Thriller Crime Science Fiction,archenemy,Joe Manganiello Skylan Brooks Zolee Griggs Ada...
6056,Ekwa Msangi,Ntare Mwine,Zainab Jah,Jayme Lawson,Romance Drama,farewell amor,Ntare Mwine Zainab Jah Jayme Lawson Ekwa Msang...
6057,Paul W. S. Anderson,Milla Jovovich,Tony Jaa,"Tip ""T.I."" Harris",Fantasy Action Adventure,monster hunter,"Milla Jovovich Tony Jaa Tip ""T.I."" Harris Paul..."
6058,Ric Roman Waugh,Gerard Butler,Morena Baccarin,David Denman,Action,greenland,Gerard Butler Morena Baccarin David Denman Ric...
6059,Deon Taylor,Hilary Swank,Michael Ealy,Mike Colter,Thriller,fatale,Hilary Swank Michael Ealy Mike Colter Deon Tay...
6060,Liam O'Donnell,Lindsey Morgan,Jonathan Howard,Daniel Bernhardt,Science Fiction Action,skylines,Lindsey Morgan Jonathan Howard Daniel Bernhard...
6061,Shawn Linden,Devon Sawa,Camille Sullivan,Nick Stahl,Horror Thriller,hunter hunter,Devon Sawa Camille Sullivan Nick Stahl Shawn L...
6062,Eugene Ashe,Tessa Thompson,Nnamdi Asomugha,Ryan Michelle Bathe,Drama Romance,sylvie's love,Tessa Thompson Nnamdi Asomugha Ryan Michelle B...
6063,Patty Jenkins,Gal Gadot,Chris Pine,Kristen Wiig,Fantasy Action Adventure,wonder woman 1984,Gal Gadot Chris Pine Kristen Wiig Patty Jenkin...
6064,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Family Animation Comedy Drama Music Fantasy,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6065,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Drama Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6066,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6067,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
6068,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [37]:
final_df.to_csv('main_data.csv',index=False)

In [9]:
df=pd.read_csv("C://Users/Gaurishankar/Desktop/Movie-Recommendation-System-with-Sentiment-Analysis-master/main_data.csv")
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [13]:
df.tail()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
6005,Joseph Kosinski,Tom Cruise,Miles Teller,Jennifer Connelly,Action Drama,top gun: maverick,Tom Cruise Miles Teller Jennifer Connelly Jose...
6006,Joel Crawford,Nicolas Cage,Emma Stone,Ryan Reynolds,Animation Adventure Family,the croods 2,Nicolas Cage Emma Stone Ryan Reynolds Joel Cra...
6007,Liesl Tommy,Jennifer Hudson,Forest Whitaker,Marlon Wayans,Music Drama,respect,Jennifer Hudson Forest Whitaker Marlon Wayans ...
6008,Ridley Scott,Matt Damon,Adam Driver,Jodie Comer,Drama,the last duel,Matt Damon Adam Driver Jodie Comer Ridley Scot...
6009,Paul Greengrass,Tom Hanks,Helena Zengel,Neil Sandilands,Drama Western,news of the world,Tom Hanks Helena Zengel Neil Sandilands Paul G...

In [16]:
df.describe()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
count,6010,6010,6010,6010,6010,6010,6010
unique,3047,2770,3776,4311,1252,5978,5999
top,unknown,Robert De Niro,unknown,unknown,Drama,a fantastic woman,Aidan Turner Adam Brown James Nesbitt Peter Ja...
freq,102,52,23,64,338,2,3

In [17]:
df.columns

Index(['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name',
       'genres', 'movie_title', 'comb'],
      dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6010 entries, 0 to 6009
Data columns (total 7 columns):
director_name    6010 non-null object
actor_1_name     6010 non-null object
actor_2_name     6010 non-null object
actor_3_name     6010 non-null object
genres           6010 non-null object
movie_title      6010 non-null object
comb             6010 non-null object
dtypes: object(7)
memory usage: 328.8+ KB

In [24]:
sns.catplot(x = 'movie_title', y = 'geners', df = df.sort_values('geners', ascending = False), kind = 'boxen', height = 6, aspect = 3)
plt.show()

KeyError: 'geners'